.titlePage {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://team-911.com.ua/img/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media screen and (max-width: 500px) {
        background-image: url('https://team-911.com.ua/img/mob-back.png');
        padding-top: 31vh;
        // justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    h1 {
        font-family: "Comic Neue", Arial, Helvetica, sans-serif;
        font-size: 5.5rem;
        background: linear-gradient(to right, #2a6eb2, #FFDD00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
        letter-spacing: 6px;

        @media screen and (max-width: 500px) {
            position: relative;
            font-size: 4rem;
            margin-bottom: 6rem;
            letter-spacing: 2px;
            // background: none;
            // -webkit-background-clip: unset;
            // -webkit-text-fill-color: unset;
            // color: #fff;
            // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Додаємо тінь до тексту */
        

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://team-911.com.ua/img/flag.jpg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: scaleX(-1); /* Віддзеркалює фон по горизонталі */
            z-index: -1; /* Фон залишається позаду всіх інших елементів */
        }
    }
    }
    
    h3 {
        font-size: 2.4rem;
        color: #eda634;
        margin-bottom: 2rem;

        @media screen and (max-width: 500px) {
            font-size: 2rem;
            margin-bottom: 4rem;
        }
    }

   


    .logos {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        bottom: 40px;

        @media screen and (max-width: 500px) {
            // bottom: 115px;
            gap: 10px;
            top: 25vh;
            bottom: auto;

        }
    }

    .logos img {
        width: 100px;
        height: auto;

        &:first-child {
            width: 18rem;

            @media screen and (max-width: 500px) {
                width: 12rem;
            }
        }

        @media screen and (max-width: 500px) {
            width: 70px;
        }
    }

    .fa-circle-play {
        font-size: 6rem;
        background: linear-gradient(90deg, #0057b7, #ffd700, #0057b7);
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
        animation: wave 5s linear infinite;

        &:hover {
            transform: scale(1.1, 1.1);
            transition: transform 1s ease-in-out;        
        }

        @media screen and (max-width: 500px) {
            font-size: 6rem;
        }
    }

    @keyframes wave {
        0% {
            background-position: 200% 0;
        }
        100% {
            background-position: -200% 0;
        }
    }
}
